[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
flask = "*"
pandas = '*'
requests = '*'
funcy = '*'
bs4 = '*'
gunicorn = "*"
attrs = "*"
lxml = "*"
python-datamuse = "*"
"z3-solver" = "*"

[requires]
python_version = "3.9"
